/* ===================================
    Custom
====================================== */

.center-col{ float:none !important; margin-left:auto !important; margin-right:auto !important}
/* separator */
.separator-line { height: 2px; margin: 0 auto; width: 30px; margin:7% auto}
.separator-line-thick { height: 4px; margin: 0 auto; width: 30px; margin:7% auto}
.separator-line-vertical { width:7px; height:80px; background-color:#fff; float:left; margin-right:90px;}
.slider-text .separator-line { margin:14% auto; height: 2px}
.thin-separator-line { height: 1px; width: 30px; margin:7% auto}
.vertical-separator { height:25px; width:25px; border-left:1px solid #000}
.wide-separator-line { height: 1px;  background-color:#e5e5e5; margin:5% 15px;}
.indicators-black .active { background-color: #000; border: 2px solid rgba(0, 0, 0, 1); }
.indicators-black li { border: 2px solid rgba(0, 0, 0, 1);}

/* margin */
.margin-one{ margin-top:1% !important; margin-bottom:1% !important}
.margin-two{ margin-top:2% !important; margin-bottom:2% !important}
.margin-three{ margin-top:3% !important; margin-bottom:3% !important}
.margin-four{ margin-top:4% !important; margin-bottom:4% !important}
.margin-five{ margin-top:5% !important; margin-bottom:5% !important}
.margin-six{ margin-top:5% !important; margin-bottom:0 !important }
.margin-seven{ margin-top:7.8% !important; margin-bottom:5% !important}
.margin-eight {margin-top:8% !important; margin-bottom:8% !important}
.margin-nine {margin-top:9% !important; margin-bottom:9% !important}
.margin-ten{ margin-top:10% !important; margin-bottom:10% !important}
.margin-eleven{ margin-top:22% !important; margin-bottom:22% !important}
.margin-right-four{margin-right:4% !important}
.margin-right-five{margin-right:5% !important}
.margin-right-six{margin-right:6% !important}
.margin-right-seven{margin-right:7% !important}
.margin-right-eight{margin-right:8% !important}
.margin-right-nine{margin-right:9% !important}
.margin-right-ten{margin-right:10% !important}
.margin-top-section { margin-top:96px;}
.margin-left-right-one { margin-right:6% !important; margin-left:6% !important}
.margin-two-bottom { margin-bottom: 2% !important; }
.margin-four-bottom { margin-bottom: 4% !important; }
.margin-five-bottom { margin-bottom: 5% !important; }
.margin-ten-bottom { margin-bottom: 10% !important; }
.no-margin{ margin:0 !important}
.no-margin-lr{ margin-left: 0 !important; margin-right: 0 !important}
.no-margin-top{ margin-top:0 !important}
.no-margin-bottom{ margin-bottom:0 !important}
.no-margin-left{ margin-left:0 !important}
.no-margin-right{ margin-right:0 !important}
.margin-bottom{ margin-bottom:60px}

/* padding */
.padding-one { padding-top:1% !important; padding-bottom:1% !important}
.padding-two { padding-top:2% !important; padding-bottom:2% !important}
.padding-three { padding-top:3% !important; padding-bottom:3% !important}
.padding-four { padding-top:4% !important; padding-bottom:4% !important}
.padding-five { padding-top:5% !important; padding-bottom:5% !important}
.padding-six { padding-top:3% !important; padding-left:3% !important; padding-right:3% !important;}
.padding-seven { padding:6%}
.padding-eight { padding-top:20%; padding-bottom: 20%}
.padding-nine { padding:6% 0}
.padding-left-right { padding-right:6% !important; padding-left:6% !important;}
.padding-two-bottom { padding-bottom: 2% !important; }
.padding-left-right-px { padding: 0 15px;}
.no-padding-left-right { padding-left:0 !important; padding-right:0 !important}
.no-padding-section { padding:0px !important;}
.no-padding-right { padding-right:0px !important;}
.no-padding-top { padding-top:0 !important}
.no-padding{padding:0 !important}
.no-padding-left { padding-left:0px !important;}
.no-padding-bottom { padding-bottom:0 !important}
.section-padding-inner{ padding: 140px 0}

/* float */
.f-left { float:left !important}
.f-right{ float:right !important}
.no-float { float:none !important;}

/* other col size */
.col-large {width:90%;}
.col-medium {width:85%;}
.col-small{ width:75%;}
.col-extra-small{ width:70%; }

/* display */
.display-block { display: block !important}
.overflow-hidden{ overflow: hidden !important}
.overflow-hidden-mobile{ position:fixed !important; overflow: hidden !important}
.display-inline-block { display: inline-block !important}
.display-inline { display: inline !important}
.display-none { display: none !important}

/* position */
.position-relative{ position: relative !important; z-index: 5 }
.position-absolute {position: absolute !important;}
.position-right { right:0 !important; }
.position-left { left:0 !important; }
.position-top { top:0 !important; }

/* width */
.width { display: inline-block; position: relative; width: 90%; }
.width-20 { width:20% !important;}
.width-30 { width:30% !important;}
.width-40 { width:40% !important;}
.width-50 { width:50% !important;}
.width-60 { width:60% !important;}
.width-70 { width:70% !important;}
.width-80 { width:80% !important;}
.width-90 { width:90% !important;}
.width-100 { width:100% !important;}
.width-auto { width: auto !important}

/* height */
.height-100 { height: 100% !important}
.height-auto { height:auto !important}

.clear-both{ clear:both}
.roundedimage { border-radius: 100%}
.vertical-align-middle { vertical-align: middle !important;}
.no-box-shadow { box-shadow:none !important}
p.uppercase { text-transform:uppercase !important;}
p.uppercase a { text-decoration:underline !important;}
p.uppercase a:hover { text-decoration: none;}
.line-break { display:block !important;}
.z-index-1 {z-index:1 !important;}
.z-index-0 {z-index:0 !important;}
.no-transition * { transition-timing-function: none; -moz-transition-timing-function: none; -webkit-transition-timing-function: none; -o-transition-timing-function: none; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; }
/* ===================================
    Border
====================================== */

.white-round-border { border-radius: 50%; border: 1px solid #fff;}
.border-black{ border:1px solid #000}
.border-thick{ border-width:2px !important }
.border-white { border:1px solid #FFF}
.border-top { border-top: 1px solid #e5e5e5; }
.border { border: 1px solid #e5e5e5;  }
.border-right { border-right: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-left { border-left: 4px solid #fff; }
.border-color-black { border-color: #000 !important}
.border-color-white { border-color: #fff !important}
.border-gray { border-color:#d7d7d7 !important}
.border-color-orange { border-color:#ff513b !important}
.no-border { border:none !important}
.border-top-light { border-top: 1px solid rgba(0, 0, 0, 0.1);}
.border-bottom-light { border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.border-transperent-light { border-color:rgba(255,255,255,.25) !important}
.no-border-round {border-radius:0 !important}
